.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  justify-content: center;
  gap: 0.1px;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: linear-gradient(135deg, #0f2027 0%, #203a43 50%, #2c5364 100%); 
  font-size: 19px;
  color: white;
  border: 1px solid #0b24c9;
  border-radius: 1rem;
  text-transform: uppercase;
}


.guess-grid {
  margin-bottom: 10px;
  margin-top: 10px
}

.scrambled-grid {
  margin-top: 10px;
  margin-bottom: 15px;
}

input, select {
  font-size: 20px;
}

.btn {
  padding: 0.3rem 0.5rem;
  font-size: 20px;
  background: linear-gradient(135deg, #0f2027 0%, #203a43 50%, #2c5364 100%);  /* Consistent dark blue button */
  border-radius: 3rem;
  border: none;
  color: #e3e9ed; /* Adjusted to match the new color scheme */
  cursor: pointer;
  margin: 35px 20px; 
  margin-top: 10px;
  margin-bottom: 10px;
  /* margin-left: 30px; */
}

.btn:hover {
  background-color: #a51818;
}

.message {
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
}

.message.bg-green-400 {
  background-color: #38a169;
}

.message.bg-red-400 {
  background-color: #e53e3e;
}

.message.bg-yellow-400 {
  background-color: #ecc94b;
}

.text-2xl {
  font-size: 30px;
  font-weight: bold;
  font: serif;
  margin-top: 2px;
  margin-bottom: 2px;
}

.text-lg {
  font-size: 20px;
  /* font-weight: bold; */
  font: serif;
  margin-top: 2px;
  margin-bottom: 2px;
}

.text-md {
  font-size: 18px;
  /* font-weight: bold; */
  margin-top: 2px;
  margin-bottom: 2px;
}

.score-container,
.level-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font: 	Georgia;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}